
.classpath
.idea/libraries/ClaymoreRunner.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.project
bin/config/Algorythm.class
bin/config/Configuration$ParameterConstants.class
bin/config/Configuration.class
bin/config/Environment.class
bin/config/FileProxy$1.class
bin/config/FileProxy.class
bin/META-INF/MANIFEST.MF
*.class
*.iml
*.eml
*.properties
*.xml
*.jar

*.bin
*.dll
*.exe
*.bat
out/artifacts/ClaymoreRunner/resources/configs/ETN_config.txt
out/artifacts/ClaymoreRunner/resources/configs/BIP_config.txt
out/artifacts/ClaymoreRunner/resources/configs/SUMO_config.txt
out/artifacts/ClaymoreRunner/resources/configs/XUN_config.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/config.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/epools.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/History.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/lastCurrency.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/License.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/Claymore/Readme!!!.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/lastCurrency.txt
out/artifacts/ClaymoreRunner/resources/currencies/Ethash.txt
out/artifacts/ClaymoreRunner/resources/pools/BIP_epools.txt
out/artifacts/ClaymoreRunner/resources/pools/ETN_epools.txt
out/artifacts/ClaymoreRunner/resources/pools/SUMO_epools.txt
out/artifacts/ClaymoreRunner/resources/pools/XUN_epools.txt
out/production/claymore-runner/META-INF/MANIFEST.MF
resources/configs/BIP_config.txt
resources/configs/ETN_config.txt
out/artifacts/ClaymoreRunner/resources/Ethash/currencies.txt
out/artifacts/ClaymoreRunner/resources/Equihash/currencies.txt
out/artifacts/ClaymoreRunner/resources/CryptoNight/currencies.txt
resources/configs/SUMO_config.txt
resources/configs/XUN_config.txt
resources/CryptoNight/Claymore/config.txt
resources/CryptoNight/Claymore/epools.txt
resources/CryptoNight/Claymore/History.txt
resources/CryptoNight/Claymore/lastCurrency.txt
resources/CryptoNight/Claymore/License.txt
resources/CryptoNight/Claymore/Readme!!!.txt
resources/CryptoNight/lastCurrency.txt
resources/currencies/Ethash.txt
resources/pools/BIP_epools.txt
resources/pools/ETN_epools.txt
resources/pools/SUMO_epools.txt
resources/pools/XUN_epools.txt
